<% if @page.new_record? %>
  There are no page <%= @page.path %>. Do you want to <a href="<%=url_for( :action => :edit )%>">create it</a>?
<% else %>
  <h1><%=h @page.title %></h1>
  <div><%=h @page.content %></div>
<% end %>